* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.modo-oscuro {
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
}

body.modo-claro {
  background-color: #ffffff; /* Fondo claro */
  color: #000000; /* Texto oscuro */
}

header img {
  height: 40px;
  width: auto;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  margin-right: 60px;
  gap: 5px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

main p {
  margin-top: 200px;
  font-size: 300px;
  font-family: serif, Geneva, Tahoma, sans-serif, "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

main div button {
  border-radius: 15px;
  padding: 10px;
  font-family: fantasy;
  font-size: 25px;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

main div button:hover {
  background-color: rgb(143, 199, 163);
}
